body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #800000; /* Burdeos */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #800000; /* Burdeos */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #800000; /* Burdeos */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    color: #800000; /* Burdeos */
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    text-decoration: underline;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fondo.jpg'); /* Cambia a la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    color: #333; /* Asegúrate de que el texto sea legible */
}

header, footer {
    background-color: rgba(128, 0, 0, 0.8); /* Burdeos con un poco de transparencia */
}
body
{
    background-image: linear-gradient(
    to bottom,
    rgba(234, 0, 255, 0.658),
    rgba(0, 0, 255, 0.5)
  ),
  url("fondo.jpg");
}